<div class="animated fadeIn">
    <div class="email-app mb-4">

        <main class="inbox">
            <div class="toolbar">
                <div class="btn-group">
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-envelope"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-star"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-star-o"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-bookmark-o"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-mail-reply"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-mail-reply-all"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-mail-forward"></span>
                    </button>
                </div>
                <button class="btn btn-light" type="button">
                    <span class="fa fa-trash-o"></span>
                </button>
                <div class="btn-group">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="fa fa-tags"></span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-danger"> Home</span>
                        </a>
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-info"> Job</span>
                        </a>
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-success"> Clients</span>
                        </a>
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-warning"> News</span>
                        </a>
                    </div>
                </div>
                <div class="btn-group float-right">
                    <button class="btn btn-light" type="button" (click)="prevPage()"
                            [disabled]="videos && !videos.prev_page_url">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button class="btn btn-light" type="button" (click)="nextPage()"
                            [disabled]="videos && !videos.next_page_url">
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
            <ul class="messages" *ngIf="videos">
                <li class="message unread" *ngFor="let video of videos.data">
                    <div class="actions">
                        <span class="action">
                            <i class="fa fa-square-o"></i>
                        </span>
                        <span class="action" id="CMSHighlightVideo">
                            <button class="btn btn-ratting">
                                <span [ngClass]="(video.highlight === 1) ? 'fa fa-star' : 'fa fa-star-o'"></span>
                            </button>
                        </span>
                    </div>
                    <div class="CMSVideoItemAvatarWrapper">
                        <img class="CMSVideoItem_Avatar"
                             [src]="video.thumbnails ? environment.storage_url + video.thumbnails : ''"
                             alt="{{ video.title }}">
                    </div>
                    <div class="CMSVideoItemInfoWrapper">
                        <a (click)="eventViewDetailVideo(video.id)">
                            {{ video ? video.title : '' }}
                        </a>
                        <div class="CMSVideoItemInfoDetail">
                            <label>
                                Ngày tạo
                            </label>
                            <span>{{ video.element.time_created | date : 'dd/MM/yyyy hh:mm:ss a' }}</span><br>
                            <label>
                                Ngày xuất bản
                            </label>
                            <span>{{ video.element.publish_at | date : 'dd/MM/yyyy hh:mm:ss a' }}</span><br>
                            <label>
                                Người tạo</label>
                            <span>{{ video.element.user_created.name }}</span>
                            -
                            <label>
                                Xuất bản bởi</label>
                            <span>{{ video.element.user_publish.name }}</span>
                            <br>
                            <label>
                                Lượt xem</label>
                            <span>0</span><br>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
    </div>
</div>
